#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.latihansatu {
  margin-bottom: 20px;
}

.latihandua {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
}

.square {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border-color: aquamarine;
  font-size: 1.2rem;
  cursor: pointer;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
}
